.about-block {
    &__container {
        padding: 100px 0;
    }
    &__title {
        text-align: center;
        margin: 0 0 80px 0;
    }
    &__row {
        
    }
    &__image {
    }
    &__texts {
    }
    &__title-texts {
    }
    &__text {
    }
}