.block-info {
    padding: 80px 0;
    &__container {
        display: flex;
        width: 100%;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    &__infos {
        text-align: right;
        padding: 50px 0;
        margin: 0 0 50px 0;
        a:hover {
            color: #ff7551;
            transition: all 0.6s ease 0s;
        }
    }
    &__title {
        font-size: 56px;
        // color: #ff7551;
        margin: 0 0 50px 0;
    }
    &__about-info {
        font-family: "Niramit";
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 23px;
        margin: 0 0 50px 0;
    }
    &__email {
        margin: 0 0 25px 0;
        img {
            margin: 0 0 0 20px;
        }
    }
    &__phone {
        margin: 0 0 25px 0;
        img {
            margin: 0 0 0 20px;
        }
    }
    &__location {
        display: flex;
        justify-content: flex-end;
        img {
            margin: 0 0 0 20px;
        }
        &:hover {
            transition: all 0.6s ease 0s;
            color: #ff7551;
        }
    }
    &__forms {
    }
    &__social-network {
        margin: 20px 0 0 0;
        display: flex;
        justify-content: space-around;
    }
}
.social-network {
}
.forms-contact {
    padding: 48px;
    background-color: #fff;
    color: #000;
    &__title {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 37px;
        margin: 0 0 24px 0;
    }
    &__name {
        display: flex;
        flex-direction: column;
        margin: 0 0 15px 0;
    }
    &__title-input {
        font-family: "Niramit";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        margin: 0 0 4px 0;
        max-width: 300px;
    }
    &__email {
        display: flex;
        flex-direction: column;
        margin: 0 0 15px 0;
    }
    &__texts {
        display: flex;
        flex-direction: column;
        margin: 0 0 40px 0;
    }
    &__buttons {
        display: flex;
        justify-content: space-around;
    }
    &__cancel {
    }
    &__send {
    }
    input[type="text"],
    input[type="email"],
    textarea,
    input[type="submit"],
    input[type="reset"] {
        // width: 100%;
        border: 1px solid rgb(152, 152, 152, 0.4);
        border-radius: 7px;
        padding: 5px 10px;
        font-family: "Niramit";
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 23px;
        color: rgba(76, 76, 76, 0.8);
    }
    input[type="text"],
    input[type="email"] {
        height: 32px;
    }
    input[type="submit"],
    input[type="reset"] {
        // color: rgba(255, 255, 255, 0.8);
        border: none;
        padding: 10px 32px;
        border-radius: 50px;
        color: #fff;
        font-weight: 600;
        font-size: 16px;
    }
    input[type="submit"] {
        background-color: #ff7551;
    }
    input[type="reset"] {
        border: 1px solid #ff7551;
        background-color: rgb(152, 152, 152, 0);
        color: #ff7551;
    }
}


@include small-tablet {
    .block-info {
        &__container {
            display: flex;
            width: auto;
            justify-content: center;
            flex-direction: column;
        }
        &__infos {
            text-align: center;
            padding: 50px 0 0 0;
        }

        &__social-network {
            justify-content: center;
        }
        &__location {
            display: flex;
            justify-content: center;
        }
    }
    .social-network {
        &__item {
            margin: 0 35px;
        }
    }
}
@include mobile-med {
    .forms-contact {
        padding: 48px 15px;
    }
}
@include mobile-min {
    .forms-contact {
        max-width: 250px;
    }
}
