
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
    src: url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2"), 
    url("../fonts/Roboto/Roboto-Regular.woff") format("woff");
}
