@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
    src: url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2"), 
    url("../fonts/Roboto/Roboto-Regular.woff") format("woff");
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
    src: url("../fonts/Roboto/Roboto-Medium.woff2") format("woff2"), 
    url("../fonts/Roboto/Roboto-Medium.woff") format("woff");
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
    src: url("../fonts/Roboto/Roboto-Bold.woff2") format("woff2"), 
    url("../fonts/Roboto/Roboto-Bold.woff") format("woff");
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/Roboto/Roboto-Black.ttf") format("truetype");
    src: url("../fonts/Roboto/Roboto-Black.woff2") format("woff2"), 
    url("../fonts/Roboto/Roboto-Black.woff") format("woff");
}
@font-face {
    font-family: 'Niramit';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Niramit/Niramit-Regular.ttf") format("truetype");
    src: url("../fonts/Niramit/Niramit-Regular.woff2") format("woff2"), 
    url("../fonts/Niramit/Niramit-Regular.woff") format("woff");
}
@font-face {
    font-family: 'Niramit';
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/Niramit/Niramit-Medium.ttf") format("truetype");
    src: url("../fonts/Niramit/Niramit-Medium.woff2") format("woff2"), 
    url("../fonts/Niramit/Niramit-Medium.woff") format("woff");
}
@font-face {
    font-family: 'Niramit';
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/Niramit/Niramit-SemiBold.ttf") format("truetype");
    src: url("../fonts/Niramit/Niramit-SemiBold.woff2") format("woff2"), 
    url("../fonts/Niramit/Niramit-SemiBold.woff") format("woff");
}
@font-face {
    font-family: 'Niramit';
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Niramit/Niramit-Bold.ttf") format("truetype");
    src: url("../fonts/Niramit/Niramit-Bold.woff2") format("woff2"), 
    url("../fonts/Niramit/Niramit-Bold.woff") format("woff");
}
@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/NotoSans/NotoSans-Bold.ttf") format("truetype");
    src: url("../fonts/NotoSans/NotoSans-Bold.woff2") format("woff2"), 
    url("../fonts/NotoSans/NotoSans-Bold.woff") format("woff");
}
